* {
	margin: 0;
	padding: 0;
}

.container {
	margin: auto;
	width: 80%;
}

h2 {
	text-transform: uppercase;
}

.logoFlex {
	display: flex;
	justify-content: space-between;
}

header {
	background-color: yellow;
	padding: 29px 20px;
}

header input {
	background: #333333;
	padding: 10px 30px;
	;
	color: aliceblue;
	margin-top: 10px;
	border-radius: 15px
}

header span {
	text-align: right;
}

.telNumber {
	display: block;
}

.toOrder {
	background-image: url(img/BG.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 166px;
	padding-bottom: 100px;
}

.toOrderContent {
	display: flex;
	justify-content: space-between;
}

.toOrderImgTwo {
	text-align: right;
	padding-top: 20px;
}

.toOrderText p:first-child {
	font-size: 32px;
	font-weight: bold;
	line-height: 68px;
}
.toOrderImgOneMobile, .toOrderImgTwoMobile{
	display: none;
}

.yellow {
	color: #ffdc00;
}

#white {
	color: #fff;
}

#upPrice {
	position: relative;
}

.lightgray {
	color: lightgray;
}

.redLine {
	position: absolute;
	bottom: -5px;
}

.redLine img {
	width: 100%;
	transform: rotate(340deg);
}

.clock {
	display: flex;
	margin: 20px 0;
}

h2 {
	text-align: center;
	padding: 56px 0 0 0;
}

.yellowHr {
	width: 20%;
	margin: 20px auto;
	background: yellow;
	height: 2px;
}

.characteristicItem {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.characteristic p {
	color: grey;
	font-size: 12px;
	line-height: 28px;
}

.characteristic img{
	width: 100%;
}

.equipment p {
	font-style: 16px;
	line-height: 28px;
}

.characteristicItemOne div:not(:first-child) {
	margin-top: 20px;
}

.characteristicItem h4 {
	padding: 10px 0;
}

.equipment {
	width: 50%;
}

.characteristicItemthree {
	padding-top: 40px;
}

.characteristicItemOne,
.characteristicItemTwo {
	width: 33%;
}

.yellowBtn {
	background: yellow;
	margin: auto;
	display: block;
	padding: 15px 70px;
	margin-top: 30px;
	margin-bottom: 10px;
	border-radius: 5px;
	color: #333333;
	font-weight: bold;
	font-size: 1.3em;
	border: 0;
}

.reason {
	display: flex;
	padding-top: 50px;
	align-items: baseline;
}

.reason h5 {
	color: #ffdc00;
	padding: 20px 0;
}

.reasonTitle {
	width: 25%;
}

.reasonTitle div {
	text-align: center;
}

.video {
	margin: auto;
	width: 60%;
}

video {
	width: 100%;
}

.economy {
	display: flex;
	justify-content: space-around;
}

.doubleImg {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.economy .economyItem:first-child {
	margin-right: 50px;
}

.economyItem p {
	text-align: center;
	padding-bottom: 20px;
	text-transform: uppercase;
	line-height: 1.5em;
}

.lowerCase {
	font-size: 12px;
}

.feedBack span {
	font-weight: bolder;
	font-size: 3em;
}

.feedBack {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.imgContainer div:first-child {
	border: 2px solid yellow;
}

.circleBox {
	text-align: center;
	padding-top: 20px;
}

.feedBack .feedBackItem:not(:first-child) {
	margin-left: 20px;
}

.guarantees {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 50px;
}

.guarantees div p {
	color: #ffdc00;
	padding-top: 10px;
	font-weight: bold;
	padding-bottom: 80px;
}

.guaranteesItem {
	text-align: center;
}

.guaranteesBlock ul {
	margin: 20px 0;
}

.delivery {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.deliveryItems ul li {
	line-height: 1.5em;
}

.form {
	display: flex;
	justify-content: space-around;
	padding-bottom: 130px;
	padding-top: 40px;
}
.form .clock{
	width: 100%;
	justify-content: center;
}
.form .dotItem {
	color: black;
}

#plus {
	display: flex;
	justify-content: flex-end;
}

.formItem {
	width: 40%;
}

.formItem div:first-child img {
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form input {
	display: block;
	margin: 10px 0;
	height: 50px;
	width: 70%;
	border-radius: 5px;
	padding-left: 10px;
}

.formItem div:last-child {
	display: flex;
}

.clockItem {
	background: #333333;
	color: #fff;
	margin: 0 5px;
	padding: 10px;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 2em;
}

.dotItem {
	padding: 10px;
	color: #333333;
	font-weight: bolder;
	font-size: 2em;
}

footer {
	display: flex;
	height: 125px;
	background: lightgrey;
	justify-content: center;
	align-items: center;
}

@media(max-width: 780px) {
	h2 {
		font-size: 0.7em;
	}
	h3,
	h5 {
		text-align: center;
	}
	h4 {
		font-size: 0.8em;
	}
	.container {
		width: 80%;
	}
	.tel {
		display: none;
	}
	.toOrder {
		padding-bottom: 30px;
		padding-top: 30px
	}
	.toOrderImgOne{
		display: none;
	}
	.toOrderContent {
		flex-direction: column;
	}
	.toOrderContent img {
		width: 100%;
	}
	.yellowSecond{
		display: none;
	}
	.clock{
		justify-content: center;
		padding-top: 10px;
	}
	.dotItem{
		font-size: 1.5em;
		padding: 5px;
	}
	.clockItem {
		margin-right: 5px;
		font-size: 1.2em;
		padding: 8px;
	}
	.toOrderText p:first-child {
		font-size: 1.5em;
		font-weight: bold;
		line-height: 40px;
		margin-bottom: 20px;
		text-align: center;
	}
	.toOrderImgTwo{
		display: none;
	}
	.toOrderImgTwoMobile {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}
	.toOrderImgOneMobile{
		display: block;
	}
	.toOrderImgTwoMobile img {
		width: 20%;
		position: absolute;
		display: block;
		bottom: 20%;
	}
	.characteristicItem {
		flex-direction: column;
	}
	.characteristic img {
		width: 100%;
	}
	.characteristicItemOne,
	.characteristicItemTwo,
	.characteristicItemthree {
		width: 100%;
		text-align: center;
		line-height: 0.5em;
	}
	.reason {
		flex-direction: column;
		align-items: center;
	}
	.reasonTitle {
		width: 100%;
	}
	.bamper img {
		width: 100%;
	}
	.economy {
		flex-direction: column;
	}
	.economyImg {
		width: 100%;
	}
	.economy .economyItem:first-child {
		margin-right: 0;
	}
	.feedBack {
		flex-direction: column;
	}
	.arrow {
		display: none;
	}
	.guarantees {
		flex-direction: column;
		align-items: center;
		margin: auto;
	}
	.delivery {
		flex-direction: column;
	}
	.form {
		flex-direction: column;
		padding-bottom: 20px;
	}
	.formItem {
		width: 100%;
	}
	.form img {
		width: 100%;
	}
	#plus {
		width: 20px;
		height: 20px;
	}
	#lastPriceFlex {
		flex-direction: column;
		position: relative;
		margin-bottom: 30px;
	}
	#lastPrice {
		width: 80px;
		position: absolute;
		bottom: -30px;
	}
}